html,
body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  color: #444;
  background-color: #fdfdfd;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #777;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #444;
}
p {
  font-size: 18px;
  line-height: 1.2;
}
strong {
  font-weight: 600;
}
.profile-thumb {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  display: inline-block;
  background-size: cover;
}
.container {
  height: 100%;
  position: relative;
  z-index: 1;
  background-color: #fefefe;
  -webkit-transition: -webkit-transform .4s ease;
     -moz-transition: -moz-transform .4s ease;
      -ms-transition: -ms-transform .4s ease;
       -o-transition: -o-transform .4s ease;
          transition: transform .4s ease;
}
.scroller {
  /*height: 100%;*/
  /*overflow: auto;
  -webkit-overflow-scrolling: touch;*/
}
.menu-shown {
  overflow: hidden;
}
.menu-shown .container {
  box-shadow: -1px 0 5px 0px #111;
  -webkit-transform: translate3d(300px, 0, 0);
     -moz-transform: translate3d(300px, 0, 0);
      -ms-transform: translate3d(300px, 0, 0);
       -o-transform: translate3d(300px, 0, 0);
          transform: translate3d(300px, 0, 0);
}

/* Nav */
.left-nav-wrap {
  height: 100%;
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: #3C3C3C;
}
.left-nav-wrap nav {
}
.left-nav-wrap h4 {
  height: 30px;
  padding: 0 10px;
  color: #DDD;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  background-color: #484848;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.left-nav-wrap h4 a {
  height: 20px;
  padding: 0 7px;
  float: right;
  line-height: 20px;
  background-color: #333;
  margin-top: 4px;
  border-radius: 10px;
  border-bottom: 1px solid #666;
  font-weight: 700;
  font-size: 20px;
}
.left-nav-wrap h4 a:hover {
  color: #fff;
}
.left-nav-wrap h4 a:active {
  background-color: #222;
}
.left-nav-wrap .help-text {
  padding: 5px 10px;
  background-color: #DADADA;
  font-size: 14px;
  color: #666;
  border-bottom: 1px solid #E6E6E6;
  display: none;
}
.left-nav-wrap h4:first-child {
  border-top: none;
}
.left-nav-wrap .nav-items {
}
.left-nav-wrap .nav-item {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid rgba(255,255,255,.15);
  position: relative;
}
.left-nav-wrap .nav-item:last-child {
  border-bottom: none;
}
.nav-item.action {
  background-color: #E77E64;
}
.nav-item.action a {
  padding-left: 0;
  color: #fff;
  font-weight: 600;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.nav-item.action a:active {
  background-color: #fff;
  color: #444;
}
.nav-item.action a:active span {
  color: #fff;
}
.nav-item.action span {
  height: 100%;
  width: 45px;
  margin-right: 8px;
  float: left;
  text-align: center;
  font-weight: 700;
  background-color: #E5603E;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.nav-item.action h3 {
  float: left;
}
.nav-item h2 {
  font-weight: 600;
  font-size: 15px;
}
.nav-item a {
  height: 100%;
  width: 100%;
  padding: 0 10px;
  color: #ddd;
  font-size: 16px;
  font-weight: 500;
  display: block;
}
.nav-item a:hover {
  color: #fff;
}
.nav-item.action a:hover {
  background-color: #E5603E;
}
.nav-item.with-icon a {
  padding-left: 53px;
}
.nav-item .icon {
  height: 40px;
  width: 40px;
  margin-left: -56px;
  display: block;
  float: left;
}
.left-nav-wrap .icon.home {
  background-image: url(/images/home.png);
  background-repeat: no-repeat;
  background-position: 13px 6px;
  background-size: 26px;
}
.left-nav-wrap .icon.profile {
  height: 34px;
  width: 34px;
  margin-top: 3px;
  margin-left: -47px;
  background-size: cover;
  border: 1px solid #B4B4B4;
  border-radius: 100%;
}
.left-nav-wrap .icon.settings {
  background-image: url(/images/settings.png);
  background-repeat: no-repeat;
  background-position: 8px 50%;
  background-size: 20px;
  position: absolute;
  right: 0;
  top: 0;
}
.left-nav-wrap .icon.settings:hover {
  background-image: url(/images/settings_hover.png);
}
.notifications-wrap {
}
.left-nav-wrap .notifications {
  position: relative;
  height: 100%;
  overflow: auto;
}
.left-nav-wrap .notification {
  height: 50px;
  position: relative;
  background-color: #222;
  border-bottom: 1px solid #353535;
  cursor: pointer;
}
.notification:hover {
  background-color: #fefefe;
}
.notification:hover .profile-thumb {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.45);
}
.notification:hover p {
  color: #444;
}
.notification:hover a {
  color: #444;
}

.notification .bg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .4;
}
.notification-content {
  height: 100%;
  padding-left: 53px;
  padding-right: 10px;
  position: relative;
  z-index: 1;
  color: #D8D8D8;
}
.notification-content .profile-thumb {
  float: left;
  margin-left: -48px;
  margin-top: 5px;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
}
.notification-content p {
  display: inline;
  font-size: 15px;
  line-height: 22px;
}
.notification-content span {
  color: #7C7C7C;
  font-size: 15px;
  white-space: nowrap;
}
.notification-content a {
  color: #fff;
}
.notification-content .center {
  text-align: left;
}

.center-wrap {
  display: table;
  height: 100% !important;
  table-layout: fixed;
  width: 100%;
}
.center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}


.glass {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100000;
  background: #000;
  opacity: 0;
  -webkit-transition: opacity .4s ease;
     -moz-transition: opacity .4s ease;
      -ms-transition: opacity .4s ease;
       -o-transition: opacity .4s ease;
          transition: opacity .4s ease;
}
.menu-shown .glass {
  opacity: .75;
}

.add {
  height: 42px;
  margin: 0;
  padding: 0 15px;
  padding-left: 40px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  outline: none;
  border: none;
  border-radius: 0;
  color: #fff;
  font-family: "proxima-nova",sans-serif;
  line-height: 44px;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 500;
  background-image: url(/images/write.png);
  background-repeat: no-repeat;
  background-position: 12px 50%;
  background-size: 20px;
  background-color: #E77E64;
}
.add:hover {
  color: #fff;
}
.add:active {
  color: #fff;
  background-color: #CF6E55;
  border-top: 1px solid #CF6E55;
}

header {
  width: 100%;
  height: 42px;
  box-shadow: 0 1px rgba(0, 0, 0, 0.2);
  background: #fdfdfd;
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
}
header .menu {
  height: 42px;
  width: 50px;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(/images/menu.png);
  background-repeat: no-repeat;
  background-position: 8px 11px;
  background-size: 32px;
}
header .menu:hover {
  background-image: url(/images/menu_hover.png);
}
header .mark-wrap {
  width: 100%;
  height: 100%;
  text-align: center;
  text-shadow: 0 -1px #fff;
}
.mark-wrap a {
  padding: 0 20px;
  display: inline-block;
  line-height: 42px;
  font-size: 28px;
  text-decoration: none;
  color: #555;
}

.context-wrap {
  height: 100%;
  width: 30%;
  max-width: 500px;
  border-right: 1px solid rgba(0,0,0,.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.accordian-nav {
  height: 100%;
  height: calc(100% - 42px);
  height: -webkit-calc(100% - 42px);
  overflow: hidden;
  border: 0;
  border-spacing: 0;
}
.accordian-nav ul {
  height: 100%;
}
.accordian-nav li {
  position: relative;
  overflow: hidden;
  background-color: #111;
  height: calc(100% - 160px);
  height: -webkit-calc(100% - 160px);
  /*-webkit-transition: height .55s ease;*/
}
.accordian-nav li:first-child {
  border-bottom: 1px solid rgba(0,0,0,.4);
}
.accordian-nav li:last-child {
  border-top: 1px solid rgba(0,0,0,.4);
}
.accordian-nav li.shrunk {
  height: 80px;
}
.accordian-nav li .bg {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  -webkit-transition: opacity .45s ease;
}
.accordian-nav li.shrunk .bg {
  opacity: .35;
}
.accordian-nav li a {
  height: 100%;
  display: block;
  position: relative;
  color: #fbfbfb;
}
.accordian-nav li h2 {
  font-size: 26px;
  margin-bottom: 15px;
  font-weight: 500;
  white-space: nowrap;
}
.accordian-nav li.shrunk:hover h2 {
  color: #fbfbfb;
}
.accordian-nav li.shrunk h2 {
  color: #bbb;
}
.accordian-text {
  width: 100%;
  padding: 25px;
  padding-top: 25%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  text-shadow: 0 1px rgba(0,0,0,.3);
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%); /* W3C */
  -webkit-transition: -webkit-transform .5s ease;
  -webkit-transform: translate3d(0, 0, 0);
}
.shrunk .accordian-text {
  background: none;
  -webkit-transform: translate3d(0, 95px, 0);
}
.shrunk .accordian-text p {
  position: relative;
  top: 10px;
}

/* Novls */
.novl-wrap {
  height: 220px;
  width: 100%;
  margin-bottom: 30px;
  margin-right: 10px;
  float: left;
  position: relative;
  background-color: #111;
  border: 1px solid rgba(255, 255, 255, 0.39);
  border-radius: 3px;
}
.novl-wrap:last-child {
  margin-bottom: 0;
}
.novl-wrap .bg {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: .7;
}
.novl-content {
  height: 100%;
  padding: 10px;
  position: relative;
  z-index: 1;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,.45);
  cursor: pointer;
}
.novl-content h3 {
  margin-bottom: 3px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 600;
}
.novl-wrap .bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.55) 100%); /* W3C */
}
.novl-content p {
  padding: 10px;
  padding-top: 25px;
}
.attribution {
  width: 100%;
  text-align: right;
  color: #CECECE;
}
.attribution a:hover {
  text-decoration: underline;
}
.attribution .profile-thumb {
  height: 55px;
  width: 55px;
  margin-bottom: 5px;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.4);
}
.novl-wrap .stats-block {
  width: 160px;
  height: 100%;
  padding-right: 15px;
  position: absolute;
  bottom: 1px;
  left: -160px;
}
.novl-wrap .stats {
  float: right;
}
.stats li {
  width: 100%;
  line-height: 30px;
  text-align: right;
  float: right;
}
.stats li h4 {
  padding-left: 10px;
  color: #aaa;
}
.stats .position {
  width: 75px;
  margin-left: -85px;
  float: left;
  font-size: 64px;
  line-height: 58px;
  text-align: right;
  display: none;
}
.stats.bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: -15px;
  color: #ddd;
  background: none;
}
.stats .posted-at h4 {
  padding-left: 15px;
  line-height: 18px;
  color: #cecece;
}
.stats .hearts {
  background-image: url(/images/heart.png);
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: 1px 50%;
}
.stats .comments {
  background-image: url(/images/comment.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: -2px 50%;
}
.content-wrap {
  outline: 0;
  position: absolute;
  left: 30%;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fefefe;
}
.wrapper-inner {
  max-width: 900px;
  padding: 42px 40px;
  margin-left: 120px;
}
.wrapper-footer {
  padding-top: 50px;
}
.wrapper-footer a {
  margin-right: 10px;
  color: #aaa;
}
.wrapper-footer a:hover {
  color: #777;
}

/* Large Screen */
@media (min-width: 1666px) {
  .content-wrap {
    left: 500px;
  }
}

/* Tablet */
@media (max-width: 1000px) {
  header {
    background: rgba(255,255,255,.95);
    position: fixed;
  }
  .context-wrap {
    height: 350px;
    width: 100%;
    max-width: none;
    position: relative!important;
    border-right: none;
    border-bottom: 1px solid rgba(0,0,0,.75);
  }
  .content-wrap {
    left: 0;
    position: relative;
  }
  .accordian-nav {
    height: 100%;
    padding-top: 42px;
  }
  .accordian-nav li {
    height: 100%;
    width: calc(100% - 160px);
    float: left;
    -webkit-transition: width .55s ease;
  }
  .accordian-nav li:first-child {
    border-bottom: none;
    border-right: 1px solid rgba(0,0,0,.4);
  }
  .accordian-nav li:last-child {
    border-top: none;
    border-left: 1px solid rgba(0,0,0,.4);
  }
  .accordian-nav li.shrunk {
    height: 100%;
    width: 80px;
  }
  .shrunk .accordian-text {
    -webkit-transform: none;
  }
  .accordian-nav li.shrunk h2 {
    -webkit-transform: rotate(-90deg);
  }
  .accordian-nav li p {
    display: none;
  }
  .accordian-nav li .bg {
    background-position: 0 0;
  }
}

/* Phone */
@media (max-width: 500px) {
  .context-wrap {
    height: 250px;
  }
  .content-wrap {
    height: 100%;
    overflow: visible;
  }
  .wrapper-inner {
    height: 100%;
    padding: 0;
    margin: 0;
    padding-top: 20px;
  }
  .novls-wrap {
    margin-bottom: 50px;
  }
  .articles-header {
    display: none;
  }
  .novl-wrap {
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
    border: none;
    border-radius: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.39);
    border-bottom: 1px solid rgba(255, 255, 255, 0.39);
  }
  .novl-content {
    margin-right: 0;
  }
  .novl-wrap .bg {
    border-radius: 0;
  }
  .novl-wrap .stats-block {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    position: relative;
    left: 0;
    bottom: 0;
    border-bottom: 1px solid #ddd;
  }
  .novl-wrap .stats {
    padding-left: 0;
  }
  .stats li {
    height: 40px;
    width: auto;
    margin-right: 10px;
    float: left;
    text-align: left;
    line-height: 40px;
    font-size: 14px;
  }
  .stats.bottom {
    left: 0;
  }
  .stats .position {
    width: auto;
    margin-left: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    display: none;
  }
  .stats .posted-at {
    position: relative;
    width: auto;
  }
  .attribution {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
  }
  .attribution .profile-thumb {
    height: 38px;
    width: 38px;
    margin-top: 1px;
    margin-bottom: 0;
    float: right;
    border-radius: 0;
    box-shadow: none;
  }
  .attribution > div {
    height: 40px;
    margin-right: 5px;
    display: inline-block;
    line-height: 40px;
  }

  .wrapper-footer {
    padding: 20px;
    padding-top: 10px;
  }

  .accordian-nav li {
    width: 100%;
    -webkit-transition: width .55s ease;
  }
}
