html,
body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  color: #444;
  background-color: #fdfdfd;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
}
a {
  color: #777;
  text-decoration: none;
  cursor: pointer;
}
a:hover,
a.active {
  color: #444;
}
p {
  font-size: 18px;
  line-height: 1.2;
}
[contenteditable] {
  padding: 5px 10px !important;
  background-color: #333;
  color: #fff;
}
[contenteditable]:hover {
  outline: 2px dashed #aaa;
}
[contenteditable]:focus {
  outline: 2px dashed #666;
}
.btn {
  height: 100%;
  margin: 0;
  outline: none;
  padding: 0 25px;
  border: none;
  border-radius: 3px;
  background-color: #AAA;
  color: #FFF;
  font-size: 16px;
  font-family: "proxima-nova",sans-serif;
  line-height: 36px;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}
.btn:hover {
  color: #fff;
  border-bottom: 1px solid #727272;
}
.btn:active {
  color: #fff;
  background-color: #888;
  border-top: 1px solid #6D6D6D;
  border-bottom: none;
  box-shadow: none;
}
.profile-thumb {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  display: inline-block;
  background-size: cover;
}
.bg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.container {
  height: 100%;
  position: relative;
}

.add {
  height: 42px;
  margin: 0;
  padding: 0 15px;
  padding-left: 40px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  outline: none;
  border: none;
  border-radius: 0;
  color: #fff;
  font-family: "proxima-nova",sans-serif;
  line-height: 44px;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 500;
  background-image: url(/images/write.png);
  background-repeat: no-repeat;
  background-position: 12px 50%;
  background-size: 20px;
  background-color: #E77E64;
}
.add:hover {
  color: #fff;
}
.add:active {
  color: #fff;
  background-color: #CF6E55;
  border-top: 1px solid #CF6E55;
}

header {
  width: 100%;
  height: 42px;
  box-shadow: 0 1px rgba(0, 0, 0, 0.2);
  background: rgba(255,255,255,.95);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
header .menu {
  height: 42px;
  width: 50px;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(/images/menu.png);
  background-repeat: no-repeat;
  background-position: 8px 11px;
  background-size: 32px;
}
header .menu:hover {
  background-image: url(/images/menu_hover.png);
}
header .mark-wrap {
  width: 100%;
  height: 100%;
  text-align: center;
  text-shadow: 0 -1px #fff;
}

.center-wrap {
  display: table;
  height: 100% !important;
  table-layout: fixed;
  width: 100%;
}
.center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}
.right-nav a {
  float: left;
  line-height: 42px;
}
.right-nav .profile-thumb {
  height: 41px;
  width: 41px;
  margin-top: 0;
  border-radius: 0;
  display: block;
}
.mark-wrap a {
  padding: 0 20px;
  display: inline-block;
  line-height: 42px;
  font-size: 28px;
  text-decoration: none;
  color: #555;
}
.context-wrap {
  height: auto;
  width: 100%;
  position: relative;
}
.profile-wrap {
  position: relative;
}
.profile-wrap .profile-cont {
  max-width: 860px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 40px;
  position: relative;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.profile-wrap .content {
  position: relative;
  z-index: 1;
}
.profile-wrap .profile-thumb {
  height: 120px;
  width: 120px;
  margin-top: -82px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.26), 0 1px 2px 0 rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0,0,0,.35);
}
.profile-wrap h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 5px;
  display: inline-block;
}
.profile-wrap h2 {
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.profile-wrap p {
  display: inline-block;
}
.profile-wrap .actions-wrap {
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.actions-wrap .actions {
  margin: 0 20px;
  border-top: 1px solid #ddd;
  display: inline-block;
  border-top: none;
}
.actions a {
  height: 100%;
  display: inline-block;
  line-height: 40px;
}
.actions a.cancel {
  margin-right: 20px;
}
.actions a.edit-mode {
  font-weight: 600;
  color: #4FCF82;
}
.accordian-nav {
  height: 600px;
  width: 100%;
  overflow: hidden;
  display: table;
}
.accordian-nav ul {
  height: 100%;
  overflow: hidden;
  display: table-row;
}
.accordian-nav li {
  height: 100%;
  width: calc(100% - 80px);
  float: left;
  position: relative;
  overflow: hidden;
  background-color: #111;
  -webkit-transition: width .55s ease;
}
.accordian-nav li:first-child {
  border-right: 1px solid rgba(0,0,0,.4);
}
.accordian-nav li.shrunk {
  width: 80px;
}
.accordian-nav li .bg {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  -webkit-transition: opacity .45s ease;
}
.accordian-nav li.shrunk .bg {
  opacity: .35;
}
.accordian-nav li a {
  height: 100%;
  display: block;
  position: relative;
  color: #fbfbfb;
}
.accordian-nav li h2 {
  font-size: 26px;
  font-weight: 500;
  white-space: nowrap;
}
.accordian-nav li.shrunk:hover h2 {
  color: #fbfbfb;
}
.accordian-nav li.shrunk h2 {
  color: #bbb;
  -webkit-transform: rotate(-90deg);
}
.accordian-nav li p {
  display: none;
}
.accordian-text {
  width: 100%;
  padding: 25px;
  padding-top: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  text-shadow: 0 1px rgba(0,0,0,.3);
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%); /* W3C */
}
.shrunk .accordian-text {
  background: none;
}


.main-nav {
  position: relative;
  height: 350px;
}
.main-nav .bg {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.main-nav ul {
  height: 70px;
  width: 100%;
  padding-top: 20px;
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%); /* W3C */
  position: absolute;
  bottom: 0;
  z-index: 1;
  text-align: center;
}
.main-nav li {
  height: 100%;
  margin-right: 350px;
  line-height: 50px;
  display: inline-block;
  position: relative;
  font-size: 18px;
}
.main-nav li:last-child {
  margin: 0;
}
.main-nav li.active:after {
  width: 0;
  height: 0;
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid #fff;
}
.main-nav a {
  color: #fff;
}
.main-nav .active a {
  font-weight: 600;
}


.articles-header {
  width: 100%;
  margin-bottom: 15px;
}
.articles-header .add-wrap {
  float: right;
  font-size: 15px;
}
.add-wrap .add-options {
  border: 1px solid #ddd;
  border-radius: 3px;
  float: left;
}
.add-options li {
  float: left;
}
.add-wrap span {
  padding: 8px 15px;
  float: left;
}
.add-wrap a {
  padding: 8px 15px;
  padding-left: 40px;
  float: left;
}
.add-wrap a:hover {
  box-shadow: 0px 3px 3px -2px rgba(0,0,0,.1);
}
.add-wrap a:active {
  background-color: #eee;
  box-shadow: none;
}
.add-wrap .web {
  border-right: 1px solid #ddd;
  background-image: url(/images/cloud.png);
  background-repeat: no-repeat;
  background-position: 7px 3px;
  background-size: 28px;
}
.add-wrap .web:hover {
  background-image: url(/images/cloud_hover.png);
}
.add-wrap .upload {
  background-image: url(/images/upload.png);
  background-repeat: no-repeat;
  background-position: 12px 5px;
  background-size: 20px;
}
.add-wrap .upload:hover {
  background-image: url(/images/upload_hover.png);
}

/* Novls */
.novls-wrap {
  margin-left: 70px;
}
.novl-wrap {
  height: 235px;
  width: 100%;
  margin-bottom: 35px;
  margin-right: 10px;
  float: left;
  position: relative;
  background-color: #111;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.8);
}
.novl-wrap:last-child {
  margin-bottom: 0;
}
.novl-wrap .bg {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: .9;
}
.novl-content {
  height: 100%;
  padding: 10px 14px;
  position: relative;
  z-index: 1;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,.45);
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
}
.novl-content h3 {
  margin-bottom: 3px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 600;
}
.novl-content .retell-triangle {
  width: 150px;
  height: 90px;
  position: absolute;
  top: -16px;
  right: -62px;
  background-color: #FFF;
  overflow: hidden;
  -webkit-transform: rotate(50deg);
}
.retell-triangle > span {
  width: 100%;
  position: absolute;
  bottom: -1px;
  z-index: 1;
  color: #646464;
  background-color: #FFF;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  padding: 2px 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  letter-spacing: 1px;
}
.retell-flat {
  height: 140px;
  width: 95px;
  position: relative;
  top: 13px;
  left: 49px;
  -webkit-transform: rotate(-50deg);
}
.retell-flat .profile-thumb {
  height: 100%;
  width: 100%;
  border-radius: 0;
}
.novl-wrap .bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.55) 100%); /* W3C */
}
.novl-content p {
  padding: 10px 14px;
}
.attribution {
  width: 100%;
  text-align: right;
  color: #CECECE;
}
.attribution a:hover {
  text-decoration: underline;
}
.attribution .profile-thumb {
  height: 55px;
  width: 55px;
  margin-bottom: 5px;
  border-radius: 3px;
  box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.65);
}
.novl-wrap .stats-block {
  width: 55px;
  height: 100%;
  position: absolute;
  bottom: 1px;
  left: -70px;
}
.novl-wrap .stats {
  float: right;
}
.stats li {
  width: 100%;
  line-height: 30px;
  text-align: right;
  float: right;
}
.stats li h4 {
  padding-left: 10px;
  color: #aaa;
}
.stats .position {
  width: 75px;
  margin-left: -85px;
  float: left;
  font-size: 64px;
  line-height: 58px;
  text-align: right;
  display: none;
}
.stats.bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #ddd;
  background: none;
}
.stats .posted-at h4 {
  padding-left: 0;
  line-height: 18px;
  color: #cecece;
  white-space: nowrap;
}
.stats .hearts {
  background-image: url(/images/heart.png);
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: 1px 50%;
}
.stats .comments {
  background-image: url(/images/comment.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: -2px 50%;
}


.content-wrap {
  outline: 0;
  position: relative;
}
.wrapper-inner {
  max-width: 980px;
  margin: 0 auto;
  padding: 20px 60px;
}
.wrapper-footer {
  padding-top: 50px;
}
.wrapper-footer a {
  margin-right: 10px;
  color: #aaa;
}
.wrapper-footer a:hover {
  color: #777;
}

/* Profile Actions */
.profile-actions {
  height: 40px;
  margin-bottom: 20px;
  margin-left: -70px;
  display: none;
}
.profile-actions .create {
  height: 100%;
  padding-left: 47px;
  padding-right: 25px;
  margin: 0;
  outline: none;
  display: block;
  float: left;
  border: none;
  border-radius: 3px;
  background-color: #E77E64;
  color: #FFF;
  font-size: 16px;
  font-family: "proxima-nova",sans-serif;
  line-height: 40px;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  background-image: url(/images/write.png);
  background-repeat: no-repeat;
  background-position: 19px 50%;
  background-size: 20px;
}
.profile-actions .create:hover {
  border-bottom: 1px solid #C06650;
}
.profile-actions .create:active {
  background-color: #CF6E55;
  border-top: 1px solid #AD5C48;
  border-bottom: none;
  box-shadow: none;
}

.profile-actions .filters {
  margin-top: 12px;
  float: right;
}
.filters li {
  margin-right: 10px;
  padding-right: 10px;
  float: left;
  border-right: 1px solid #DDD;
}
.filters li:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

/* Large Screen */
@media (min-width: 1666px) {

}

/* Tablet */
@media (max-width: 1000px) {
}

/* Phone */
@media (max-width: 500px) {
  .main-nav li {
    margin-right: 55%;
  }
  .content-wrap {
    height: 100%;
    overflow: visible;
  }
  .wrapper-inner {
    height: 100%;
    padding: 0;
    margin: 0;
    padding-top: 20px;
  }
  .novls-wrap {
    margin-left: 0;
    margin-bottom: 50px;
  }
  .articles-header {
    display: none;
  }
  .novl-wrap {
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
    border: none;
    border-radius: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.39);
    border-bottom: 1px solid rgba(255, 255, 255, 0.39);
  }
  .novl-content {
    margin-right: 0;
  }
  .novl-wrap .bg {
    border-radius: 0;
  }
  .novl-wrap .stats-block {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    position: relative;
    left: 0;
    bottom: 0;
    border-bottom: 1px solid #ddd;
  }
  .novl-wrap .stats {
    padding-left: 0;
  }
  .stats li {
    height: 40px;
    width: auto;
    margin-right: 10px;
    float: left;
    text-align: left;
    line-height: 40px;
    font-size: 14px;
  }
  .stats .position {
    width: auto;
    margin-left: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    display: none;
  }
  .stats .posted-at {
    position: relative;
    width: auto;
  }
  .attribution {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
  }
  .attribution .profile-thumb {
    height: 38px;
    width: 38px;
    margin-top: 1px;
    margin-bottom: 0;
    float: right;
    border-radius: 0;
    box-shadow: none;
  }
  .attribution > div {
    height: 40px;
    margin-right: 5px;
    display: inline-block;
    line-height: 40px;
  }

  .wrapper-footer {
    padding: 20px;
    padding-top: 10px;
  }

  .accordian-nav li {
    /*width: 100%;*/
    -webkit-transition: width .55s ease;
  }

  .profile-actions {
    margin-left: 15px;
    margin-right: 15px;
  }
}
