html,
body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  color: #444;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #777;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #444;
}
p {
  font-size: 16px;
  line-height: 20px;
}
.profile-thumb {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  display: inline-block;
  background-size: cover;
  vertical-align: middle;
}
.container {
  height: 100%;
  position: relative;
}
header {
  width: 100%;
  height: 42px;
  background: rgba(0,0,0,.25);
  border-bottom: 1px solid rgba(0,0,0,.2);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
header .back {
  height: 42px;
  width: 50px;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(/images/menu.png);
  background-repeat: no-repeat;
  background-position: 8px 11px;
  background-size: 32px;
}
header .back:hover {
  background-image: url(/images/menu_hover.png);
}
header .mark-wrap {
  width: 100%;
  height: 100%;
  text-align: center;
  text-shadow: 0 -1px #fff;
}
header .right-nav {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.right-nav a {
  float: left;
  line-height: 42px;
}
.right-nav .profile-thumb {
  height: 41px;
  width: 41px;
  margin-top: 0;
  border-radius: 0;
  display: block;
  border: none;
}
.mark-wrap h2 {
  padding: 0 20px;
  display: inline-block;
  line-height: 42px;
  font-size: 28px;
  text-decoration: none;
  color: #fff;
  text-shadow: 0 -1px 1px rgba(0,0,0, .3);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mark-wrap h2.novl-title {
  display: none;
}
.context-wrap {
  height: 100%;
  width: 30%;
  max-width: 500px;
  box-shadow: inset -1px 0 0 rgba(255, 255, 255, 0.50);
  background: #111;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.novl-meta-wrap {
  height: 100%;
  position: relative;
}
.bg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: .7;
}
.novl-content {
  width: 100%;
  padding: 20px;
  padding-top: 15%;
  padding-bottom: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.75) 100%);
  color: #fff;
}
.novl-content .content-center {
  text-align: left;
}
.novl-content .title {
  margin-bottom: 5px;
  font-size: 38px;
}
.novl-content .description {

}
.novl-content .attribution {
  margin-top: 8px;
  line-height: 40px;
}
.attribution a {
  color: #ccc;
  font-weight: 600;
}
.attribution a:hover {
  color: #fff;
}
.attribution .profile-thumb {
  height: 50px;
  width: 50px;
  margin-right: 5px;
}
.attribution .posted-at {
  margin-left: 5px;
  color: #ddd;
  font-size: 14px;
}
.actions {
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
  display: none;
}
.actions a {
  width: calc(50% - 25px);
  height: 100%;
  display: block;
  float: left;
  text-align: center;
  line-height: 40px;
  color: #aaa;
  border-right: 1px solid rgba(0,0,0,.2);
  border-left: 1px solid rgba(255,255,255,.1);
}
.actions a:hover {
  color: #fff;
}
.actions a:active {
}
.actions a:first-child {
  border-left: none;
}
.actions a:last-child {
  border-right: none;
}
.actions a.more {
  width: 50px;
}
.icon {
  background-size: cover;
}
.icon.share {
  background-image: url(/images/share.png);
}
.icon.like {
  background-image: url(/images/heart.png);
}
.icon.comment {
  background-image: url(/images/comment.png);
}
.icon.more {
  background-image: url(/images/more.png);
}
.actions .icon-text {
  display: inline-block;
}
.actions .icon {
  height: 36px;
  width: 36px;
  float: left;
}
.actions .icon.like {
  height: 26px;
  width: 26px;
  margin-top: 6px;
}
.actions .text {
  height: 36px;
  float: left;
  margin-left: 8px;
}
.actions .count {
  height: 36px;
  float: left;
  margin-left: 8px;
}
.actions .icon.more {
  height: 100%;
  float: none;
  display: block;
  margin: 0 auto;
}
.icon-text.comment .count {
  margin-left: 3px;
}
.icon-text.comment .text {
  margin-left: 3px;
  margin-right: 3px;
}

/* Clips */
.clip {
  margin-top: 30px;
  display: inline-block;
  position: relative;
  text-align: left;
  border-radius: 3px;
  overflow: hidden;
}
.clip:first-child {
  margin-top: 0;
}
.clip img {
  max-width:100% !important;
  height:auto;
  display:block;
}
.clip:after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  z-index: 1;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.15);
}
.clip .caption {
  width: 100%;
  padding: 10px;
  color: #fff;
  font-size: 14px;
  white-space: normal;
  background: rgba(0,0,0,.65);
  border-top: 1px solid rgba(0,0,0,.15);
  position: absolute;
  bottom: 0;
  left: 0;
}

.content-wrap {
  outline: 0;
  position: absolute;
  left: 30%;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #111;
}
.wrapper-inner {
  padding: 42px 30px;
  padding-bottom: 125px;
  text-align: center;
  background-color: #111;
}
.content-center {
  width: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.wrapper-inner .content-center {
  display: block;
  font-size: 0;
}

.wrapper-footer {
  padding-top: 50px;
}
.wrapper-footer a {
  margin-right: 10px;
  color: #aaa;
}
.wrapper-footer a:hover {
  color: #777;
}

/* Runout */
.runout {
  padding: 30px;
  padding-top: 50px;
  position: relative;
  background-color: #fefefe;
}
.runout-wrap {
  max-width: 870px;
  margin: 0 auto;
  text-align: left;
}
.runout-content {
  position: relative;
  z-index: 1;
  display: block;
}
.runout-actions {
  height: 40px;
  margin-bottom: 40px;
  display: block;
  position: relative;
}
.runout-actions .retell {
  float: left;
  margin-left: 10px;
  background-color: #969696;
}
.runout-actions .retell:hover {
  border-bottom: 1px solid #727272;
}
.runout-actions .retell:active {
  background-color: #707070;
  border-top: 1px solid #4D4D4D;
  border-bottom: none;
}
.runout-actions .like {
  float: left;
  background-image: url(/images/heart.png);
}
.runout-actions .social {
  height: 40px;
  width: 40px;
  margin-right: 5px;
  float: right;
}
.social.fb {
  background-image: url(/images/fb.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}
.social.twitter {
  margin-right: 0;
  background-image: url(/images/twitter.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 38px;
}

.runout .end {
  height: 250px;
  width: 340px;
  margin-left: -170px;
  position: absolute;
  top: -105px;
  left: 50%;
  z-index: 0;
  text-align: center;
  border-radius: 100%;
  background-color: #FEFEFE;
  color: #DDD;
  line-height: 110px;
  font-size: 42px;
}
.runout section {
  margin-bottom: 30px;
  text-align: center;
  position: relative;
}
.runout section > h3 {
  padding-bottom: 5px;
  margin-bottom: 20px;
  color: #838383;
  border-bottom: 1px solid #EBEBEB;
  font-size: 24px;
  text-align: left;
}

.btn {
  height: 100%;
  margin: 0;
  outline: none;
  padding-left: 47px;
  padding-right: 25px;
  border: none;
  border-radius: 3px;
  background-color: #E77E64;
  color: #FFF;
  font-size: 16px;
  font-family: "proxima-nova",sans-serif;
  line-height: 36px;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  background-image: url(/images/write.png);
  background-repeat: no-repeat;
  background-position: 19px 50%;
  background-size: 20px;
}
.btn:hover {
  border-bottom: 1px solid #C06650;
}
.btn:active {
  background-color: #CF6E55;
  border-top: 1px solid #AD5C48;
  border-bottom: none;
  box-shadow: none;
}

/* Novls */
.novls-wrap {
  margin-left: 70px;
}
.novl-wrap {
  height: 220px;
  width: 100%;
  margin-bottom: 30px;
  margin-right: 10px;
  position: relative;
  background-color: #111;
  border: 1px solid rgba(255, 255, 255, 0.39);
  border-radius: 3px;
  text-align: left;
}
.novl-wrap:last-child {
  margin-bottom: 0;
}
.novl-wrap .bg {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: .7;
}
.novl-wrap .novl-content {
  height: 100%;
  padding: 10px;
  position: relative;
  z-index: 1;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,.45);
  background: none;
  cursor: pointer;
}
.novl-wrap .novl-content h3 {
  margin-bottom: 3px;
  font-size: 36px;
  font-weight: 600;
}
.novl-wrap .bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.55) 100%); /* W3C */
}
.novl-wrap .novl-content p {
  padding: 10px;
  padding-top: 25px;
}
.novl-wrap .attribution {
  width: 100%;
  text-align: right;
  color: #CECECE;
}
.novl-wrap .attribution a:hover {
  text-decoration: underline;
}
.novl-wrap .attribution .profile-thumb {
  height: 55px;
  width: 55px;
  display: block;
  border-radius: 5px;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.4);
}
.novl-wrap .stats-block {
  width: 70px;
  height: 100%;
  padding-right: 15px;
  position: absolute;
  bottom: 0;
  left: -70px;
}
.novl-wrap .stats {
  float: right;
}
.stats li {
  width: 100%;
  line-height: 30px;
  text-align: right;
  float: right;
  color: #CECECE;
}
.stats li h4 {
  padding-left: 10px;
}
.stats .position {
  width: 75px;
  margin-left: -85px;
  float: left;
  font-size: 64px;
  line-height: 58px;
  text-align: right;
  display: none;
}
.stats.bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: -15px;
  color: #ddd;
  background: none;
}
.stats .posted-at h4 {
  padding-left: 15px;
}
.stats .hearts {
  background-image: url(/images/heart_grey.png);
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: 1px 50%;
}
.stats .comments {
  background-image: url(/images/comment.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: -2px 50%;
}

/* Retell */
.novl-wrap .retell-wrap {
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.39);
  border-bottom: 1px solid rgba(0, 0, 0, 0.39);
  border-bottom-left-radius: 5px;
}
.novl-wrap .retell-wrap .profile-thumb {
  height: 55px;
  width: 55px;
  border-radius: 0;
  display: block;
}
.novl-wrap .retell-wrap h4 {
  background: rgba(255,255,255,.9);
  height: 20px;
  text-align: center;
  color: #444;
  text-shadow: none;
  line-height: 20px;
  font-size: 14px;
  font-weight: 600;
  border-bottom-left-radius: 5px;
}

/* Large Screen */
@media (min-width: 1666px) {
  .content-wrap {
    left: 500px;
  }
}

/* Tablet */
@media (max-width: 1000px) {
  .container {
    overflow: visible;
  }
  header {
    position: fixed;
  }
  .progress-wrap {
    display: none;
    height: 2px;
    width: 100%;
    position: relative;
    background-color: #535353;
  }
  .progress {
    height: 100%;
    width: 20%;
    background-color: #37CFFF;
    position: relative;
  }
  .progress:after {
    height: 100%;
    width: 20%;
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to right, #37CFFF 0%,#A5D9F6 100%);
  }
  .novl-content {
    height: 100% !important;
    width: 100%;
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 42px;
    display: table;
    table-layout: fixed;
    position: relative;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.30) 100%);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  }
  .novl-content .content-center {
    text-align: center;
  }
  .context-wrap {
    height: 300px;
    width: 100%;
    max-width: none;
    position: relative!important;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.50);
  }
  .content-wrap {
    left: 0;
    position: relative;
    overflow: visible;
  }
  .actions {
    height: 100%;
    height: calc(100% - 42px);
    height: -webkit-calc(100% - 42px);
    width: 42px;
    top: 42px;
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
  }
  .actions a {
    width: 100%;
    height: 50%;
  }
  .actions a:first-child,
  .actions a:last-child {
    border: none;
  }
  .actions a:first-child {
    border-bottom: 1px solid rgba(0,0,0,.2);
  }
  .actions a:last-child {
    border-top: 1px solid rgba(255,255,255,.1);
  }
  .actions .icon {
    margin-top: 50%;
    float: none;
    display: block;
  }
  .icon-text.comment .icon {
    margin-top: 10px;
  }
  .icon-text.comment .count {
    height: auto;
    margin-left: 0;
    float: none;
    display: block;
    text-align: center;
    line-height: 22px;
  }
  .actions .text {
    display: none;
  }

  .attribution .profile-thumb {
    height: 60px;
    width: 60px;
  }
}

/* Phone */
@media (max-width: 500px) {
  .context-wrap {
    height: 350px;
  }
  .wrapper-inner {
    padding: 20px 0;
    padding-bottom: 75px;
  }
  .clip {
    max-width: 100%;
    margin-top: 20px;
    border-radius: 0;
  }
  .clip:after {
    border-radius: 0;
    box-shadow: inset 0 2px 0 -1px rgba(255,255,255,0.15);
  }
  .clip .caption {
    padding: 5px 10px;
    position: relative;
    background: #222;
    border-bottom: 1px solid #333;
    border-top: 1px solid rgba(255,255,255,.1);
    color: #eee;
  }
  .clip .caption:after {
    height: 1px;
    width: 100%;
    content: ' ';
    display: block;
    position: absolute;
    top: -2px;
    left: 0;
    background: rgba(0,0,0,.55);
  }

  /* Runout */
  .runout {
    padding-left: 15px;
    padding-right: 15px;
  }
  .runout section {
    width: 100%;
    float: none;
  }
  .runout .grid-left {
    padding-right: 0;
  }
  .runout .grid-right {
    padding-left: 0;
  }
}
